textarea {
    min-height: 400px;
}


.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.wrapper > div {
    display: flex;
    justify-content:flex-start;
    border: 1px solid black;
    position:relative; 
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.subject {
    font-weight: 600;
    padding-left: 1rem;
}

.date {
    position: absolute;
    right: 0px;
    font-weight: 500;
    padding-right: 2rem;
    color: rgb(122, 118, 118);
}

.bold {
    font-weight: 700;

}